pydub==0.25.1
torchmetrics==1.9.0
tqdm==4.67.1
tensorflow==2.18.0
soundfile==0.13.1
librosa==0.10.2.post1
torch==2.11.0
torchaudio==2.11.0
scipy==1.15.2
typing_extensions==4.12.2
onnx==1.18.0
onnx2torch
pandas
colorama
tabulate==0.10.0
onnxruntime
