#apex==0.9.10dev
#einops==0.7.0
Jinja2==3.1.2
#librosa==0.10.1
numpy==1.23.0
onnx==1.13.0
protobuf==3.20.2
onnxruntime == 1.14.0
pandas==1.5.3
pathlib2==2.3.7.post1
PyYAML==6.0.1
scipy==1.11.4
torcheval==0.0.7
torchinfo==1.8.0
git+https://github.com/TexasInstruments/edgeai-modeloptimization.git@main#subdirectory=torchmodelopt
https://software-dl.ti.com/mctools/esd/tvm/mcu/ti_mcu_nnc-1.2.0-cp310-cp310-linux_x86_64.whl
