numpy==1.26.4
Cython==3.0.11
protobuf==5.27.3
pillow==10.4.0
onnxsim==0.4.36
onnx==1.16.1
onnxsim==0.4.36
onnxoptimizer==0.3.13
onnxruntime==1.19.0
progressbar==2.5
protobuf==5.27.3
rich==13.7.1
pandas==2.2.2
colorama==0.4.6
